*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
}
h1 {
    color: steelblue;
    border-bottom: 1px solid steelblue;
}
main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p { 
    padding: 0;
}
main{
    max-width: 840px;
    order: 2;
}
aside{
    width: 20rem;
    text-align: center;
    position: relative;
    order: 1
}
aside img{
    width: 200px;
    height: auto;
}
aside h2{
    position: absolute;
    left: 138px;
    top: auto;
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
div {
    border-bottom: 1px solid steelblue;
}

/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1rem;
    background-color: #bdc8db;
    color: rgb(0, 0, 0);
}